.text-purple {
    color: #8f25ab;
}

.contacts-list::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(235, 233, 233) !important;
}

.contacts-list::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .3) !important;
    background-color: #8f25ab;
}

.contacts-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3) !important;
    background-color: #F5F5F5;
}

.list-responsive {
    max-height: 524px !important;
    border: 2px solid #8f25ab;
    border-radius: 0.25rem !important;
}

@media (max-width: 575.98px) {
    .list-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .list-responsive-sm>.list-bordered {
        border: 0;
    }
}

@media (max-width: 767.98px) {
    .list-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .list-responsive-md>.list-bordered {
        border: 0;
    }
}

@media (max-width: 991.98px) {
    .list-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .list-responsive-lg>.list-bordered {
        border: 0;
    }
}

@media (max-width: 1199.98px) {
    .list-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .list-responsive-xl>.list-bordered {
        border: 0;
    }
}

.list-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.list-responsive>.list-bordered {
    border: 0;
}